/target/
/target/*
/.settings/
/.settings/**
/.metadata/
/.metadata/**
/.recommenders/
/.recommenders/**
/Servers/
/Servers/**
/.mvn/
/.mvn/**
/LOG_PATH*/
/LOG_PTH*/**
.DS_Store
.project
.classpath
.springBeans
*.prefs
